In [1]:
%load_ext pycodestyle_magic
%load_ext mypy_ipython
%pycodestyle_on

In [2]:
import collections

my_dict = {}
isinstance(my_dict, collections.abc.Mapping)

True

In [3]:
t = (1, 2, (30, 40))
print(hash(t))

tl = (1, 2, [30, 40])
try:
    print(hash(tl))
except Exception as e:
    print(e)

tf = (1, 2, frozenset([30, 40]))
print(hash(tf))

-3907003130834322577
unhashable type: 'list'
5149391500123939311

In [4]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})

print(
    a, b, c, d, e,
    a == b == c == d == e,
    sep='\n'
)

{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3}
{'two': 2, 'one': 1, 'three': 3}
{'three': 3, 'one': 1, 'two': 2}
True