In [1]:
%load_ext pycodestyle_magic
%pycodestyle_on

In [2]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', 31195855), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

latitude, longitude = lax_coordinates
print(latitude, longitude)

for passport in sorted(traveler_ids):
    print('{}/{}'.format(*passport))
+
for country, _ in traveler_ids:
    print(country)

SyntaxError: invalid syntax (<ipython-input-2-d9125c36b37f>, line 10)

In [ ]:
t = (20, 8)
quotient, remainder = divmod(*t)

print(quotient, remainder)

In [ ]:
a, b, *rest = range(10)

print(a, b, rest)

In [ ]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.104, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

In [ ]:
from collections import namedtuple

City = namedtuple('City', ('name', 'country', 'population', 'coordinates'))
Coordinate = namedtuple('Coordinate', ('latitude', 'longitude'))

tokyo = City('Tokyo', 'JP', 36.933, Coordinate(35.689722, 139.691667))

delhi_data = ('Delhi NCR', 'IN', 21.935, Coordinate(28.613889, 77.208889))
delhi = City._make(delhi_data)

print(
    tokyo.population,
    tokyo.coordinates,
    tokyo[1],
    City._fields,
    sep='\n'
)

for key, value in delhi._asdict().items():
    print(key + ':', value)

In [ ]:
dir(tuple([1, 2]))