In [1]:
%load_ext pycodestyle_magic
%pycodestyle_on

In [2]:
import doctest

In [3]:
import unicodedata
import re

re_digit = re.compile(r'\d')

sample = '1\xbc\xb2\u0969\u136b\u216b\u2466\u2480\u3285'

for char in sample:
    print(
        'U+{:04}'.format(ord(char)),
        char.center(6),
        're_dig' if re_digit.match(char) else '-',
        'isdig' if char.isdigit() else '-',
        'isnum' if char.isnumeric() else '-',
        format(unicodedata.numeric(char), '5.2f'),
        unicodedata.name(char),
        sep='\t'
    )

U+0049	  1   	re_dig	isdig	isnum	 1.00	DIGIT ONE
U+0188	  ¼   	-	-	isnum	 0.25	VULGAR FRACTION ONE QUARTER
U+0178	  ²   	-	isdig	isnum	 2.00	SUPERSCRIPT TWO
U+2409	  ३   	re_dig	isdig	isnum	 3.00	DEVANAGARI DIGIT THREE
U+4971	  ፫   	-	isdig	isnum	 3.00	ETHIOPIC DIGIT THREE
U+8555	  Ⅻ   	-	-	isnum	12.00	ROMAN NUMERAL TWELVE
U+9318	  ⑦   	-	isdig	isnum	 7.00	CIRCLED DIGIT SEVEN
U+9344	  ⒀   	-	-	isnum	13.00	PARENTHESIZED NUMBER THIRTEEN
U+12933	  ㊅   	-	-	isnum	 6.00	CIRCLED IDEOGRAPH SIX